.video-bg {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

header {
  z-index: 12000;
  position: relative;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
  flex-wrap: wrap;
  position: relative;
}
header .container .name {
  flex-basis: 35%;
  color: white;
  font-size: 32px;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  header .container .name {
    flex-basis: 60%;
  }
}
header .container ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}
@media (max-width: 991px) {
  header .container ul {
    order: 2;
    flex-direction: column;
    width: 250px;
    max-width: 250px;
    gap: 30px;
    background-color: rgba(8, 20, 29, 0.7019607843);
    padding: 0;
    border-radius: 10px;
    position: absolute;
    right: 10px;
    top: 80px;
    transition: 0.3s;
    height: 0;
    overflow: hidden;
  }
}
@media (max-width: 991px) and (max-width: 577px) {
  header .container ul {
    top: 120px;
  }
}
@media (max-width: 991px) {
  header .container ul.active {
    height: 375px;
    padding: 20px 0;
  }
}
header .container ul li a {
  color: white;
  transition: 0.3s;
  font-size: 26px;
  border-bottom: 2px solid white;
  padding-bottom: 20px;
  text-align: center;
  width: 140px;
  display: block;
  position: relative;
}
header .container ul li a::before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -12.5px;
  transition: 0.3s;
}
header .container ul li a.active {
  color: #99ff66;
  border-color: #99ff66;
}
header .container ul li a.active::before {
  background-color: #99ff66;
}
header .container ul li a:hover {
  color: #99ff66;
  border-color: #99ff66;
}
header .container ul li a:hover::before {
  background-color: #99ff66;
}
header .container .minu-btn {
  font-size: 30px;
  color: white;
  border: 1px solid white;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  transition: 0.3s;
}
header .container .minu-btn:hover, header .container .minu-btn.active {
  border-color: #99ff66;
  color: #99ff66;
}
@media (max-width: 991px) {
  header .container .minu-btn {
    display: block;
  }
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

body {
  position: relative;
  font-family: cursive;
}

@media (min-width: 992px) {
  .landing .container {
    padding-left: 10%;
  }
}
@media (max-width: 577px) {
  .landing .container {
    padding: 0 40px;
  }
}
.landing .container .holder {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 130px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1.5px solid white;
  border-bottom: 1.5px solid white;
  position: relative;
  max-width: 700px;
}
@media (max-width: 767px) {
  .landing .container .holder {
    flex-direction: column;
    align-items: flex-start;
  }
}
.landing .container .holder .boll {
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: white;
}
.landing .container .holder .card-info {
  width: 65%;
  background-color: rgba(17, 17, 17, 0.53);
  padding: 20px;
}
@media (max-width: 767px) {
  .landing .container .holder .card-info {
    width: 100%;
  }
}
.landing .container .holder .card-info h1 {
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
}
.landing .container .holder .card-info p {
  color: white;
  line-height: 1.7;
  font-size: 18px;
}
.landing .container .holder .card-info p a {
  color: #99ff66;
}
.landing .container .holder .imgs {
  display: flex;
  flex-direction: column;
  width: 35%;
  gap: 20px;
}
@media (max-width: 767px) {
  .landing .container .holder .imgs {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .landing .container .holder .imgs .image-1 {
    width: 45%;
    min-width: 200px;
  }
}
.landing .container .holder .imgs .image-1 img {
  width: 100%;
}
@media (max-width: 767px) {
  .landing .container .holder .imgs .image-2 {
    width: 45%;
    min-width: 200px;
  }
}
.landing .container .holder .imgs .image-2 img {
  width: 100%;
}
.landing .container .holder button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -80px;
  text-align: center;
  width: 150px;
  height: 60px;
  background-color: white;
  color: black;
  font-size: 20px;
  border: none;
  transition: 0.4s;
}
.landing .container .holder button:hover {
  color: #99ff66;
}

footer .container p {
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}
footer .container p span {
  color: #99ff66;
}/*# sourceMappingURL=home.css.map */